<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537958658561-gqfl8qoeksbeq0rbk2g6hfr6vvrv97fh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537958658561-gqfl8qoeksbeq0rbk2g6hfr6vvrv97fh</string>
	<key>API_KEY</key>
	<string>AIzaSyCv6G-BeeDxUhUF6W5DPNtUvGXQj4ognqk</string>
	<key>GCM_SENDER_ID</key>
	<string>537958658561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nigella.nigellaAiSecurity</string>
	<key>PROJECT_ID</key>
	<string>nigella-securities</string>
	<key>STORAGE_BUCKET</key>
	<string>nigella-securities.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537958658561:ios:1dc22588de6505db27c600</string>
</dict>
</plist>